<!DOCTYPE html>
<html>
<script>
	function my(){
		window.android.callBack("13177008851");
	}


</script>
<body>
<div class="tops">
    <span class="s1 active" id="jingpai" data-code-number="1" onclick="my()">我的竞拍</span>
    <i>|</i>
    <span class="s2" data-code-number="2">全部客户</span>
</div>

<div class="wrap">

    <div class="wrap1 wap">
        <div id="content1" class="content content1 mui-content mui-scroll-wrapper">
            <div class="mui-scroll">
                <!--数据列表-->
                <ul class="mui-table-view" id="borrowList1">

                </ul>
            </div>
        </div>
    </div>

    <div class="wrap2 wap">
        <div class="wrap2_navlist">
            <div class="navlist">
                <span class="active s1" data-code-number="2">全部客户</span>
                <span data-code-number="3">未竞拍</span>
                <span data-code-number="4">竞拍中</span>
                <span data-code-number="5">已联系</span>
            </div>
        </div>
        <div class="wrap2_con">

            <div id="content2" class="content content2  mui-content mui-scroll-wrapper">
                <div class="mui-scroll">
                    <!--数据列表-->
                    <ul class="mui-table-view" id="borrowList2">
                    </ul>
                </div>
            </div>

            <div id="content3" class="content content3  mui-content mui-scroll-wrapper hide">
                <div class="mui-scroll">
                    <!--数据列表-->
                    <ul class="mui-table-view" id="borrowList3">
                    </ul>
                </div>
            </div>

            <div id="content4" class="content content4  mui-content mui-scroll-wrapper hide">
                <div class="mui-scroll">
                    <!--数据列表-->
                    <ul class="mui-table-view" id="borrowList4">
                    </ul>
                </div>
            </div>

            <div id="content5" class="content content5  mui-content mui-scroll-wrapper hide">
                <div class="mui-scroll">
                    <!--数据列表-->
                    <ul class="mui-table-view" id="borrowList5">
                    </ul>
                </div>
            </div>

            <div class="all">一键购买</div>
        </div>
    </div>
</div>

<!--暂无资格-->
<div class="mask mask1">
    <div class="mask_wrap">
        <h4>暂无资格</h4>
        <p>出价前请先联系该客户，
            <br/> 或选择
            <a href="javascript:;">最高价购买</a>
        </p>
        <div class="queding_wrap">
            <div class="queding">确认</div>
        </div>
    </div>
</div>

<!--选择出价-->
<div class="mask mask2">
    <div class="mask_wrap mui-input-row mui-input-range">
        <h4>选择出价</h4>
        <h5 style="clear: left;">出价：
            <span id='block-range-val'>0</span>
        </h5>
        <div class="mui-input-row mui-input-range" style="margin-bottom:12vw;">
            <input type="range" id='block-range' value="0" min="0" max="1000">
        </div>
        <div class="queding_wrap">
            <div class="quxiao">取消</div>
            <div class="queding">确认</div>
        </div>
    </div>
</div>

<!--余额不足-->
<div class="mask mask3">
    <div class="mask_wrap mui-input-row mui-input-range">
        <h4>余额不足</h4>
        <div class="queding_wrap">
            <div class="quxiao">取消</div>
            <div class="queding">充值</div>
        </div>
    </div>
</div>

<!--成功出价-->
<div class="mask mask4">
    <div class="mask_wrap">
        <h4>成功出价</h4>
        <p>竞拍成功后，
            <br/>系统会第一时间通知你竞拍情况</p>
        <div class="queding_wrap">
            <div class="queding">确认</div>
        </div>
    </div>
</div>

<!--提示信息-->
<div class="mask mask5">
    <div class="mask_wrap">
        <h4>提示</h4>
        <p>请选择客户信息</p>
        <div class="queding_wrap">
            <div class="queding">确认</div>
        </div>
    </div>
</div>

<!--竞拍人数已达限额-->
<div class="mask mask6">
    <div class="mask_wrap">
        <h4>提示</h4>
        <p>竞拍人数已达限额，无法竞拍</p>
        <div class="queding_wrap">
            <div class="queding">确认</div>
        </div>
    </div>
</div>

<!--购买-->
<div class="goumai">
		<span class="total">合计：￥
			<i>0</i>
		</span>
    <span class="now_buy">立即购买</span>
</div>

<!-- 底部nav -->
<div class="nav">
    <div lang="../index/index.html">
        <img src="../../images/66.png"/>
        <span>首页</span>
    </div>
    <div lang="../auction/auction.html">
        <img src="../../images/7.png"/>
        <span class="active">竞拍</span>
    </div>
    <div lang="../phone/gongdanguanli.html">
        <img src="../../images/88.png"/>
        <span>我的客户</span>
    </div>
</div>

</body>
<script src="../../lib/mui.js"></script>
<script src="../../lib/jquery.min.js"></script>
<script src="../../lib/leftTime.min.js"></script>
<script src="../../lib//template.js"></script>
<script src="../../lib/common.js"></script>
<script src="../../js/auction.js"></script>
<script id="wrap1_List" type="text/html">
    {{each data.page as value i}}
    <div class="wrap1_List" lang="{{value.id}}">
        <span>姓名：{{value.name}}</span>
        <span>区域：{{value.area_name}}</span>
        <span>最高价：
			<i>￥{{value.price}}</i>
		</span>
        <span>出价时间：{{dateFormat value.shelf_time}}</span>
        <div class="top_price">最高价购</div>
    </div>
    {{/each}}
</script>

<script type="text/html" id="wrap1_List1">
    {{each data.page as value i}}
    {{if i< 1 }}
    <div class="wrap2_list" lang="{{value.id}}">
        <div class="mui-input-row mui-checkbox mui-left left">
            <label>
            </label>
            <input name="checkbox1" value="Item 1" type="checkbox" class="iptSelect"
                   lang="{{value.id}}">
        </div>
        <span class="s1">名字：{{value.name}}</span>
        <span class="s1">区域：{{value.area_name}}</span>
        <span class="s1">价格：
			<i>￥{{value.price}}</i>
		</span>
        <span class="s1">出价时间：{{dateFormat value.shelf_time}}</span>
        {{if value.can_call_time !=''}}
        <span class="s1 s2">
				<span class="daojishi">倒计时：</span>
				<i>
					<span class="shijian daojishi1{{i}}">
						<span class="d">00</span>天
                        <span class="h">00</span>时
                        <span class="m">00</span>分
                        <span class="s">00</span>秒
					</span>
				</i>
			</span>
        {{else}}
        <span class="s1 s2">
				<span class="daojishi">倒计时：----</span>
			</span>
        {{/if}}
        <div class="bts">
            {{if value.can_call_time ==''}}
            <a href="tel:{{value.phone}}" lang="{{value.phone}}" class="contac">
                <span class="contact">待联系</span>
            </a>
            {{else}}
            <a href="tel:{{value.phone}}" lang="{{value.phone}}" class="contac"
               onclick="lianxi(this)">
                <span class="contacted" style="background-color:#fa7e2c;">联系他</span>
            </a>
            {{/if}}
            <span class="top_price">最高价购</span>
            <span class="offer">出价</span>
        </div>
    </div>
    {{/if}}
    {{/each}}
</script>

<script type="text/html" id="wrap2_list2">
    {{each data.page as value i}}
    <div class="wrap2_list" lang="{{value.id}}">
        <div class="mui-input-row mui-checkbox mui-left left">
            <label>
            </label>
            <input name="checkbox1" value="Item 1" type="checkbox" class="iptSelect"
                   lang="{{value.id}}">
        </div>
        <span class="s1">名字：{{value.name}}</span>
        <span class="s1">区域：{{value.area_name}}</span>
        <span class="s1">价格：
		<i>￥{{value.price}}</i>
	</span>
        <span class="s1">出价时间：{{dateFormat value.shelf_time}}</span>
        {{if value.can_call_time !=''}}
        <span class="s1 s2">
			<span class="daojishi">倒计时：</span>
			<i>
				<span class="shijian daojishi2{{i}}">
					<span class="d">00</span>天
                    <span class="h">00</span>时
                    <span class="m">00</span>分
                    <span class="s">00</span>秒
				</span>
			</i>
		</span>
        {{else}}
        <span class="s1 s2">
			<span class="daojishi">倒计时：----</span>
		</span>
        {{/if}}
        <div class="bts">
            {{if value.can_call_time ==''}}
            <a href="tel:{{value.phone}}" lang="{{value.phone}}" class="contac">
                <span class="contact">待联系</span>
            </a>
            {{else}}
            <a href="tel:{{value.phone}}" lang="{{value.phone}}" class="contac"
               onclick="lianxi(this)">
                <span class="contacted" style="background-color:#fa7e2c;">联系他</span>
            </a>
            {{/if}}
            <span class="top_price">最高价购</span>
            <span class="offer">出价</span>
        </div>
    </div>
    {{/each}}
</script>

<script type="text/html" id="wrap2_list3">
    {{each data.page as value i}}
    <div class="wrap2_list" lang="{{value.id}}">
        <div class="mui-input-row mui-checkbox mui-left left">
            <label>
            </label>
            <input name="checkbox1" value="Item 1" type="checkbox" class="iptSelect"
                   lang="{{value.id}}">
        </div>
        <span class="s1">名字：{{value.name}}</span>
        <span class="s1">区域：{{value.area_name}}</span>
        <span class="s1">价格：
		<i>￥{{value.price}}</i>
	</span>
        <span class="s1">出价时间：{{dateFormat value.shelf_time}}</span>
        {{if value.can_call_time !=''}}
        <span class="s1 s2">
			<span class="daojishi">倒计时：</span>
			<i>
				<span class="shijian daojishi3{{i}}">
					<span class="d">00</span>天
                    <span class="h">00</span>时
                    <span class="m">00</span>分
                    <span class="s">00</span>秒
				</span>
			</i>
		</span>
        {{else}}
        <span class="s1 s2">
			<span class="daojishi">倒计时：----</span>
		</span>
        {{/if}}
        <div class="bts">
            {{if value.can_call_time ==''}}
            <a href="tel:{{value.phone}}" lang="{{value.phone}}" class="contac">
                <span class="contact">待联系</span>
            </a>
            {{else}}
            <a href="tel:{{value.phone}}" lang="{{value.phone}}" class="contac"
               onclick="lianxi(this)">
                <span class="contacted" style="background-color:#fa7e2c;">联系他</span>
            </a>
            {{/if}}
            <span class="top_price">最高价购</span>
            <span class="offer">出价</span>
        </div>
    </div>
    {{/each}}
</script>

<script type="text/html" id="wrap2_list4">
    {{each data.page as value i}}
    <div class="wrap2_list" lang="{{value.id}}">
        <div class="mui-input-row mui-checkbox mui-left left">
            <label>
            </label>
            <input name="checkbox1" value="Item 1" type="checkbox" class="iptSelect"
                   lang="{{value.id}}">
        </div>
        <span class="s1">名字：{{value.name}}</span>
        <span class="s1">区域：{{value.area_name}}</span>
        <span class="s1">价格：
			<i>￥{{value.price}}</i>
		</span>
        <span class="s1">出价时间：{{dateFormat value.shelf_time}}</span>
        {{if value.can_call_time !=''}}
        <span class="s1 s2">
				<span class="daojishi">倒计时：</span>
				<i>
					<span class="shijian daojishi4{{i}}">
						<span class="d">00</span>天
                        <span class="h">00</span>时
                        <span class="m">00</span>分
                        <span class="s">00</span>秒
					</span>
				</i>
			</span>
        {{else}}
        <span class="s1 s2">
				<span class="daojishi">倒计时：----</span>
			</span>
        {{/if}}
        <div class="bts">
            {{if value.can_call_time ==''}}
            <a lang="{{value.phone}}" class="contac">
                <span class="contact">待联系</span>
            </a>
            {{else}}
            <a href="tel:{{value.phone}}" lang="{{value.phone}}" class="contac"
               onclick="lianxi(this)">
                <span class="contacted" style="background-color:#fa7e2c;">联系他</span>
            </a>
            {{/if}}
            <span class="top_price">最高价购</span>
            <span class="offer">出价</span>
        </div>
    </div>
    {{/each}}
</script>

<script type="text/javascript">
	var h5pullDown = true;
	function lianxi(){
		console.log(1)
		var contac = document.getElementsByClassName("contac");
	    for(var i = 0;i < contac.length; i++){
	        (function(l){
	            contac[l].onclick = function(){
	                console.log(l);
	                console.log(contac[l].getAttribute("lang"));
	            }
	        })(i)
	    }
	}
</script>

</html>

